backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.3.2
blinker==1.4
certifi==2016.2.28
decorator==4.0.9
docutils==0.12
ecdsa==0.13
Fabric==1.11.1
feedgenerator==1.8
functools32==3.2.3.post2
ghp-import==0.4.1
gitdb==0.6.4
GitPython==1.0.2
gunicorn==19.4.5
html5lib==0.9999999
ipython==3.2.1
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
Markdown==2.5.2
MarkupSafe==0.23
mistune==0.7.2
paramiko==1.16.0
pathlib2==2.1.0
pelican==3.6.3
pickleshare==0.7.2
ptyprocess==0.5.1
pycrypto==2.6.1
Pygments==2.0.2
pyreadline==2.1
python-dateutil==2.5.2
pytz==2016.3
pyzmq==15.2.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smartypants==1.8.6
smmap==0.9.0
terminado==0.6
tornado==4.3
traitlets==4.2.1
typogrify==2.0.7
Unidecode==0.4.19
